@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.in-out-animation {
    animation: fadeInOut 2s ease-in-out infinite;
}

.editable {
    cursor: pointer;
}

/*.editable:before {*/
/*    content: "\f040";*/
/*    font-family: FontAwesome;*/
/*    margin-right: 5px;*/
/*}*/

.select2-container .select2-selection--single {
    height: unset !important;
}